body,
html {
    padding: 0px;
    margin: 0px;
}

.maxdiv {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

.header {
    width: 100%;
    height: 60px;
    margin-top: 70px;
}

.logo {
    width: 600px;
    height: 60px;
}

.logo img {
    width: 76.8px;
    height: 25px;
    padding-top: 18px;
    padding-left: 215px;
}

.logo span {
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #5944C3;
    letter-spacing: 0;
    position: absolute;
}

.logoemp {
    display: inline-block;
    width: 17px;
    height: 24px;
    border-left: 2px solid #5944C3;
    margin-left: 19.2px;
    margin-top: 20px;
}

.logospan {
    display: inline-block;
    width: 109px;
    height: 33px;
    margin-left: 37px;
    margin-top: 14px;
}

.loginreg {
    width: 150px;
    height: 60px;
    float: right;
    margin-top: -60px;
}

.backimg {
    width: 100%;
    height: 597px;
    background: url("../img/bg_sign.png");
    margin-top: 20px;
}

.footer {
    width: 100%;
    height: 60px;
    margin-top: 81px;
    margin-bottom: 201px;
}

.footer p {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #3E3E3E;
    letter-spacing: 0;
    width: 488px;
    height: 18px;
    margin-left: 600px;
    line-height: 60px;
}

.findpasswordbox {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.loginbox {
    width: 753px;
    height: 550px;
    background: #FFFFFF;
    position: absolute;
    top: 20px;
    left: 360px;
}


/*密码修改进度*/

.findpasswordsfirst {
    width: 600px;
    height: 130px;
    margin-left: 85px;
}

.findpasswordsone {
    display: inline-block;
    width: 193px;
    height: 100px;
    position: relative;
    margin-right: -5px;
}

.btn1 {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #5944C3;
    border: 1px solid #5944C3;
    position: absolute;
    top: 30px;
    left: 80px;
}

.btn1 p {
    font-family: HiraginoSansGB-W3;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    position: absolute;
    top: -18px;
    left: 8px;
    z-index: 3;
}

.spanhr {
    display: inline-block;
    width: 193px;
    height: 2px;
    border-top: 3px solid #5944C3;
    position: absolute;
    top: 42px;
}

.checkid {
    display: inline-block;
    position: absolute;
    font-family: HiraginoSansGB-W6;
    font-size: 14px;
    color: #5944C3;
    letter-spacing: 0;
    top: 60px;
    left: 65px;
}

.findpasswordssecond {
    width: 600px;
    height: 130px;
    margin-left: 85px;
}

.findpasswordstwo {
    display: inline-block;
    width: 193px;
    height: 100px;
    position: relative;
    margin-right: -5px;
}

.btn21 {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #5944C3;
    border: 1px solid #5944C3;
    position: absolute;
    top: 30px;
    left: 80px;
}

.btn21 p {
    font-family: HiraginoSansGB-W3;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    position: absolute;
    top: -18px;
    left: 8px;
    z-index: 3;
}

.spanhr21 {
    display: inline-block;
    width: 193px;
    height: 2px;
    border-top: 3px solid #5944C3;
    position: absolute;
    top: 42px;
}

.checkid21 {
    display: inline-block;
    position: absolute;
    font-family: HiraginoSansGB-W6;
    font-size: 14px;
    color: #5944C3;
    letter-spacing: 0;
    top: 60px;
    left: 65px;
}

.btn22,
.btn23 {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #C6C6C6;
    border: 1px solid #C6C6C6;
    position: absolute;
    top: 30px;
    left: 80px;
}

.btn22 p,
.btn23 p {
    font-family: HiraginoSansGB-W3;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    position: absolute;
    top: -18px;
    left: 8px;
    z-index: 3;
}

.spanhr22,
.spanhr23 {
    display: inline-block;
    width: 193px;
    height: 2px;
    border-top: 3px solid #C6C6C6;
    position: absolute;
    top: 42px;
}

.checkid22,
.checkid23 {
    display: inline-block;
    position: absolute;
    font-family: HiraginoSansGB-W6;
    font-size: 14px;
    color: #3E3E3E;
    letter-spacing: 0;
    top: 60px;
    left: 65px;
}


/*3*/

.findpasswordsthird {
    width: 600px;
    height: 130px;
    margin-left: 85px;
}

.findpasswordsthree {
    display: inline-block;
    width: 193px;
    height: 100px;
    position: relative;
    margin-right: -5px;
}

.btn31,
.btn32 {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #5944C3;
    border: 1px solid #5944C3;
    position: absolute;
    top: 30px;
    left: 80px;
}

.btn31 p,
.btn32 p {
    font-family: HiraginoSansGB-W3;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    position: absolute;
    top: -18px;
    left: 8px;
    z-index: 3;
}

.spanhr31,
.spanhr32 {
    display: inline-block;
    width: 193px;
    height: 2px;
    border-top: 3px solid #5944C3;
    position: absolute;
    top: 42px;
}

.checkid31,
.checkid32 {
    display: inline-block;
    position: absolute;
    font-family: HiraginoSansGB-W6;
    font-size: 14px;
    color: #5944C3;
    letter-spacing: 0;
    top: 60px;
    left: 65px;
}

.btn33 {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #C6C6C6;
    border: 1px solid #C6C6C6;
    position: absolute;
    top: 30px;
    left: 80px;
}

.btn33 p {
    font-family: HiraginoSansGB-W3;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    position: absolute;
    top: -18px;
    left: 8px;
    z-index: 3;
}

.spanhr33 {
    display: inline-block;
    width: 193px;
    height: 2px;
    border-top: 3px solid #C6C6C6;
    position: absolute;
    top: 42px;
}

.checkid33 {
    display: inline-block;
    position: absolute;
    font-family: HiraginoSansGB-W6;
    font-size: 14px;
    color: #3E3E3E;
    letter-spacing: 0;
    top: 60px;
    left: 65px;
}


/*修改结束*/

.accountloginp {
    font-family: HiraginoSansGB-W3;
    font-size: 18px;
    color: #3E3E3E;
    letter-spacing: 0;
    padding-left: 320px;
    padding-top: 31px;
}

.fastlogin {
    width: 449px;
    height: 260px;
    margin-top: 61.3px;
    display: none;
}

.iphone {
    position: relative;
}

.iphones {
    width: 379px;
    height: 40px;
    opacity: 0.2;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-left: 188px;
}

.identifyingcode {
    position: relative;
}

.identifyingcodes {
    width: 180px;
    height: 40px;
    opacity: 0.2;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-left: 188px;
    margin-top: 20px;
}

.identifyingspan {
    display: inline-block;
    width: 70px;
    height: 40px;
    background: #D8D8D8;
    position: absolute;
    top: 20px;
    left: 400px;
    cursor: pointer;
}

.SMSauthenticationcode {
    position: relative;
}

.SMSauthenticationcodes {
    width: 262px;
    height: 40px;
    opacity: 0.2;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-left: 188px;
    margin-top: 20px;
}

.codebutton {
    width: 105px;
    height: 40px;
    background: #5944C3;
    border-radius: 3px;
    border: 1px solid #5944C3;
    position: absolute;
    top: 20px;
    left: 464px;
}

.codebuttoncheck {
    width: 90px;
    height: 40px;
    background: #5944C3;
    border-radius: 3px;
    border: 1px solid #5944C3;
    position: absolute;
    top: 20px;
    left: 480px;
}

.codebutton p {
    font-family: HiraginoSansGB-W3;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 5px;
}

.fastloginbutton {
    position: relative;
}

.fastloginbuttons {
    width: 379px;
    height: 40px;
    opacity: 0.35;
    background: #000000;
    border-radius: 3px;
    border: 1px solid #000000;
    margin-left: 188px;
    margin-top: 23px;
    line-height: 5px;
    cursor: pointer;
}

.fastloginbuttons p {
    font-family: HiraginoSansGB-W3;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.setpasswords {
    opacity: 0.2;
    border: 1px solid #000000;
    border-radius: 3px;
    width: 379px;
    height: 40px;
    margin-top: 20px;
    margin-left: 188px;
}

.setpasswordagains {
    opacity: 0.2;
    border: 1px solid #000000;
    border-radius: 3px;
    width: 379px;
    height: 40px;
    margin-top: 20px;
    margin-left: 188px;
}

.changgesuccess {
    margin-left: 340px;
}

.changepasswords {
    width: 200px;
    height: 60px;
    background-color: #5944C3;
    border: 1px solid #5944C3;
    margin-left: 270px;
    cursor: pointer;
}