body {
    background: #FFFFFF;
}

.header {
    min-width: 900px;
    height: 60px;
    background: #5944C3;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.Personal_information {
    float: right;
    width: 300px;
    height: 60px;
    position: relative;
}

.headers:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.headers {
    min-width: 600px;
}

.peravator {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    top: 10px;
    left: 1px;
    background-color: antiquewhite;
    cursor: pointer;
}

.pernames {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    position: absolute;
    top: 20px;
    left: 50px;
}

.Arrow {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 22px;
    left: 120px;
    transition-property: height;
    transition-timing-function: ease;
    cursor: pointer;
}

.Arrow:hover {
    transform: rotate(180deg);
    transition: transform 2s;
}

.My_order {
    position: absolute;
    font-family: HiraginoSansGB-W3;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    top: 20px;
    left: 200px;
    cursor: pointer;
}

.logo {
    float: left;
    width: 400px;
    height: 60px;
}

.logoimg {
    margin-left: 70px;
    margin-top: 15px;
}

.emple {
    display: inline-block;
    width: 2px;
    height: 24px;
    border-left: 2px solid #FFFFFF;
}

.hotelproject {
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    float: right;
    margin-top: 13px;
    margin-right: 120px;
}

.supernatant {
    width: 109px;
    height: 124.7px;
    background: #FFFFFF;
    border: 1px solid #F2EEF3;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 50px;
    left: 50px;
}

.supernatants {
    width: 0px;
    height: 0px;
    overflow: hidden;
    border-width: 10px;
    border-color: transparent transparent #FFFFFF transparent;
    border-style: solid;
    position: absolute;
    top: 30px;
    left: 120px;
}

.supernatant1,
.supernatant2,
.supernatant3 {
    width: 109px;
    height: 30px;
    margin-top: 10px;
    clear: both;
}

.img1,
.img2,
.img3 {
    float: left;
    margin-left: 10px;
    margin-top: 2px;
}

.span1,
.span2,
.span3 {
    float: right;
    font-family: HiraginoSansGB-W3;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
    margin-right: 20px;
    margin-top: 1px;
    cursor: pointer;
}

.footer {
    min-width: 900px;
    height: 60px;
    background: #5944C3;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
    clear: both;
}

.Cashier {
    width: 875px;
    margin: 0 auto;
    margin-top: 86px;
}

.Cashiers {
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #222629;
    letter-spacing: 0;
}

.divone {
    width: 875px;
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.18);
    margin: 0 auto;
    margin-top: 30px;
}

.hotelname {
    width: 230px;
    height: 155px;
    margin-top: 27px;
    margin-bottom: 27px;
    margin-left: 28px;
}

.nametype {
    width: 600px;
    float: right;
}

.names {
    display: inline-block;
    font-family: HiraginoSansGB-W6;
    font-size: 16px;
    color: #3E3E3E;
    margin-top: 76px;
    margin-left: 15px;
}

.Bed_Type {
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
    margin-left: 20px;
    margin-top: 13px;
}

.priceSymbol {
    float: right;
    margin-top: -10px;
    margin-right: 40px;
}

.pricesss {
    font-family: HiraginoSansGB-W6;
    font-size: 18px;
    color: #000009;
    letter-spacing: 0;
    line-height: 20px;
}

.divtwo {
    width: 875px;
    height: 205px;
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.18);
    margin: 0 auto;
    margin-top: 25px;
}

.Payment_method {
    font-family: ArialMT;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
    padding-top: 18px;
    margin-left: 31px;
}

.imgs1 {
    width: 175px;
    height: 70px;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 67px;
    cursor: pointer;
}

.imgs2 {
    width: 175px;
    height: 70px;
    margin-bottom: 67px;
    margin-left: 75px;
    cursor: pointer;
}

.name1,
.name2 {
    display: none;
}

.buttons {
    width: 200px;
    float: right;
    margin-right: 225px;
    margin-top: 38px;
    margin-bottom: 205px;
}

.Needtopay {
    width: 200px;
}

.buttons:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.btn {
    width: 113px;
    height: 36px;
    background: #5944C3;
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    border: 1px solid #5944C3;
    margin-top: 24px;
    cursor: pointer;
}

.need {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #3E3E3E;
    letter-spacing: 0;
}

.to {
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #3E3E3E;
    letter-spacing: 0;
    margin-left: 5px;
}

.pay {
    font-family: HiraginoSansGB-W6;
    font-size: 18px;
    color: #000009;
    letter-spacing: 0;
    line-height: 17px;
}